[package]
org = "ballerina"
name = "soap"
version = "@toml.version@"
authors = ["Ballerina"]
export=["soap", "soap.soap11", "soap.soap12"]
keywords = ["soap"]
repository = "https://github.com/ballerina-platform/module-ballerina-soap"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.11.0-20241112-214900-6b80ab87"

[build-options]
observabilityIncluded = true

[platform.java21]
graalvmCompatible = true

[[platform.java21.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "soap-native"
version = "@toml.version@"
path = "../native/build/libs/soap-native-@project.version@.jar"

[[platform.java21.dependency]]
groupId = "org.apache.wss4j"
artifactId = "wss4j-ws-security-dom"
version = "@wssecuritydom.version@"
path = "./lib/wss4j-ws-security-dom-@wssecuritydom.version@.jar"

[[platform.java21.dependency]]
groupId = "org.apache.wss4j"
artifactId = "wss4j-ws-security-common"
version = "@wssecuritycommon.version@"
path = "./lib/wss4j-ws-security-common-@wssecuritycommon.version@.jar"

[[platform.java21.dependency]]
groupId = "org.apache.santuario"
artifactId = "xmlsec"
version = "@xmlsec.version@"
path = "./lib/xmlsec-@xmlsec.version@.jar"
