[package]
org = "ballerina"
name = "soap"
version = "1.0.0"
authors = ["Ballerina"]
export=["soap", "soap.soap11", "soap.soap12"]
keywords = ["soap"]
repository = "https://github.com/ballerina-platform/module-ballerina-soap"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.9.0"

[build-options]
observabilityIncluded = true

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "soap-native"
version = "1.0.0"
path = "../native/build/libs/soap-native-1.0.0.jar"

[[platform.java17.dependency]]
groupId = "org.apache.wss4j"
artifactId = "wss4j-ws-security-dom"
version = "3.0.1"
path = "./lib/wss4j-ws-security-dom-3.0.1.jar"

[[platform.java17.dependency]]
groupId = "org.apache.wss4j"
artifactId = "wss4j-ws-security-common"
version = "3.0.1"
path = "./lib/wss4j-ws-security-common-3.0.1.jar"

[[platform.java17.dependency]]
groupId = "org.apache.santuario"
artifactId = "xmlsec"
version = "3.0.3"
path = "./lib/xmlsec-3.0.3.jar"
